<header class="cabecalho">
  <h1 class="logo">
    <a routerLink="">
      Design responsivo
    </a>
  </h1>
  <nav class="menu-principal">
    <button id="buttonMenu" class="menu-principal__btn " [class.menu-principal__btn--fechar]="!buttonClosed" (click)="changeButtonMenu()">Abrir / Fechar</button>
    <ul class="menu-principal__lista">
      <li>
        <a class="menu-principal__item" routerLink="about-us"> Sobre </a>
        <a class="menu-principal__item" routerLink="portfolio"> Portfolio </a>
        <a class="menu-principal__item" routerLink="contact"> Contato </a>
      </li>
    </ul>
  </nav>
</header>