<main>
    <h1>
        Contato
    </h1>
    <section>
        <p>
            is simply dummy text of the printing and typesetting industry. Lorem
        </p>
        <form>
            <div>
                <label for="name">Nome</label>
                <input id="name" type="text" name="name">
            </div>
            <div>
                <label for="email">
                    E-mail
                </label>
                <input id="name" type="email" name="email">
            </div>
            <div>
                <label for="mensagem">Mensagem </label>
                <textarea id="mensagem" cols="10" rows="5"></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
        <p>
            is simply dummy text of the printing and typesetting industry. Lorem
        </p>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2792.822571931027!2d-34.94677216551654!3d-8.137315657779949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1e067d86d98d%3A0x442b0a38824c0406!2sR.%20Sert%C3%A2nia%2C%2015%20-%20Jord%C3%A3o%2C%20Recife%20-%20PE%2C%2051260-390!5e0!3m2!1spt-BR!2sbr!4v1636663099116!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </section>
</main>