<main>
    <h1>
        Portfolio
    </h1>

    <section>
        <p>
            s simply dummy text of the printing and typesetting industry.mmy <br>
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. <br>
            It has survived not only
        </p>
        <nav>
            <ul>
                <li>
                    <a href="../../../assets/img/portfolio/aircraft-2806035_1280.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/aircraft-2806035_min.jpg" alt="avião">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="../../../assets/img/portfolio/gear-2291916_1280.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/gear-2291916_min.jpg" alt="peças">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="../../../assets/img/portfolio/hong-kong-1990268_1280.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/hong-kong-1990268_min.jpg" alt="hongkong">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="../../../assets/img/portfolio/landscape-2268775_1280.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/landscape-2268775_min.jpg" alt="vista">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="../../../assets/img/portfolio/saddle-2614038_1280.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/saddle-2614038_min.jpg" alt="sela">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
                <li>
                    <a href="../../../assets/img/portfolio/town-2430571_1920.jpg">
                        <img src="../../../assets/img/portfolio/miniaturas/town-2430571_min.jpg" alt="cidade">
                        <h2>
                            Nome do trabalho
                        </h2>
                    </a>
                </li>
            </ul>
        </nav>


    </section>
</main>