<footer>
  <div>
    <div>
      <h1 class="logo">Everton Walker</h1>
      <p>about me</p>
    </div>
    <div>
      <h2>Social</h2>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/everton-walker/" target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a href="https://github.com/evertonwalker/" target="_blank"
            >Github</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h2>Links</h2>
      <ul>
        <li>
          <a href="#aboutus"> Sobre </a>
          <a href="#contacts"> Contato </a>
        </li>
      </ul>
    </div>
    <div></div>
  </div>
  <div>2021 - todos os direitos - Everton Walker</div>
</footer>
