<main>
  <h2>
    Texto grande aqui
  </h2>
  <p>
    Texto menorzinho aqui
  </p>
  <a href="#servicos"> role para ver mais </a>

  <section id="servicos">
    <!-- Sessão de serviços -->
    <h2>O que fazemos</h2>
    <section>
      <img alt="developer" src="../../../assets/img/icone-desenvolvimento-web.png">
      <h3>
        Desenvolvimento web
      </h3>
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since
      </p>
    </section>
    <section>
      <img alt="carrinho de compras" src="../../../assets/img/icone-carrinho-compras.png">
      <h3>
        E-Commerce
      </h3>
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since
      </p>
    </section>
    <section>
      <img alt="developer" src="../../../assets/img/icone-cafe.png">
      <h3>
        Café
      </h3>
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since
      </p>
    </section>
  </section> <!-- Seção de serviços -->

  <section>
    <!-- Seção de depoimentos -->
    <h2>
      O que falam de nós
    </h2>
    <section>
      <img src="../../../assets/img/depoimentos/pessoa-1.jpg" alt="pessoa">
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
      </p>
    </section>
  </section><!-- Seção de depoimentos -->
</main>